# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/vendors
assets/js/dist

_posts/ghost_in_the_wires/
assets/img/ghost/ghost_in_the_wires/

_posts/learning_route/
assets/img/learning_route/

_posts/vendetta
assets/img/GFW

_posts/TEMP

_posts/GFW
assets/img/vendetta

_posts/2025/Linux/2025-05-16-pop-os-config.md

_posts/2025/phreaking/
_posts/2025/crypto_story/

# Ignore Obsidian workspace data & Obsidian templates
.obsidian/
_posts/.obsidian
_templates/
